.find-posting {
	margin-top: 30px;
	position: relative;
}

.find-posting > h2 {
	margin-top: 20px;
}

.search-bar {
	background-image: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png);
	background-position: 5px 4px;
	background-repeat: no-repeat;
	padding: 5px;
	padding-left: 30px;
	border-radius: 10px;
	border: 2px #47525E solid;
	outline: none;
	transition: .5s;
	width: 250px;
	margin-top: 50px;
	height: 32px;
}

.search-bar:focus {
	width: calc(100% - 60px);
	border-color: #008080;
}

.search-bar:hover {
	width: calc(100% - 60px);
}

.categories {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}

.category {
	height: 200px;
	width: 250px;
	background-color: #008080;
	position: relative;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	transition: .2s;
}

.category:hover {
	transform: scale(1.05);
}

.category h1 {
	color: white;
	font-size: 24px;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
	pointer-events: none;
}

.category .fa {
	font-size: 80px;
	color: white;
	margin-top: 30px;
	pointer-events: none;
}

.postings {
	margin-top: 30px;
}

.posting {
	width: calc(100% - 80px);
	height: 200px;
	border: 2px #008080 solid;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: left;
	cursor: pointer;
	transition: .2s;
	display: flex;
	padding: 10px;
	overflow-y: hidden;
	position: relative;
}

.posting:hover {
	transform: scale(1.05);
}

.posting h1 {
	color: black;
	font-size: 30px;
	margin-top: 10px;
}

.posting h2 {
	color: grey;
	font-size: 16px;
	font-weight: normal;
}

.posting p {
	color: black;
	margin-top: 10px;
	overflow: hidden;
	height: 69px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.posting a {
	transition: .2s;
}

.posting a:hover {
	color: #64E1E1;
}

.posting .details {
	height: 190px;
	overflow-y: hidden;
}

.tags h2 {
	display: inline-block;
}

.tags .tag {
	font-size: 13px;
	color: white;
	background-color: #008080;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	margin: 0px 1px 0px 1px;
}

.image {
	width: 200px;
	position: relative;
}

.image img {
	height: 180px;
	width: 180px;
	margin: 10px;
	border-radius: 10px;
	object-fit: cover;
}

.image p {
	font-size: 13px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 3px;
	color: yellow;
	height: inherit;
	border-radius: 10px;
}