@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #08aaf5 !important;
	border-radius: 5px;
}

#innerpicture {
	object-fit: cover;
	min-width: 150px;
	max-width: 500px;
	max-height: 150px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
	margin-bottom: 10px;
}

.find-posting {
	margin-top: 30px;
	position: relative;
}

.find-posting > h2 {
	margin-top: 20px;
}

.search-bar {
	background-image: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png);
	background-position: 5px 4px;
	background-repeat: no-repeat;
	padding: 5px;
	padding-left: 30px;
	border-radius: 10px;
	border: 2px #47525E solid;
	outline: none;
	transition: .5s;
	width: 250px;
	margin-top: 50px;
	height: 32px;
}

.search-bar:focus {
	width: calc(100% - 60px);
	border-color: #008080;
}

.search-bar:hover {
	width: calc(100% - 60px);
}

.categories {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
}

.category {
	height: 200px;
	width: 250px;
	background-color: #008080;
	position: relative;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	transition: .2s;
}

.category:hover {
	transform: scale(1.05);
}

.category h1 {
	color: white;
	font-size: 24px;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
	pointer-events: none;
}

.category .fa {
	font-size: 80px;
	color: white;
	margin-top: 30px;
	pointer-events: none;
}


.tags h2 {
	display: inline-block;
	color:white;
	font-weight: lighter;
	font-size: medium;
}

.tags .tag {
	font-size: 13px;
	color: white;
	background-color: #3e55be;
	border-radius: 10px;
	border-width: 2px;
	border-style: dashed;
	border-color: rgb(9, 9, 121);
	padding: 5px 10px 5px 10px;
	margin: 2px 2px 2px 2px;
}

.image {
	width: 200px;
	position: relative;
}

.image img {
	height: 180px;
	width: 180px;
	margin: 10px;
	border-radius: 10px;
	object-fit: cover;
}

.image p {
	font-size: 13px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 3px;
	color: yellow;
	height: inherit;
	border-radius: 10px;
}