@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

#save {
    font-family: 'Alata', sans-serif;
    color: white;
    padding-left: 5px;
    background-color: rgb(82, 111, 207);
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 10px;
    padding-bottom: 5px;
    outline: none;
    border: 3px solid rgb(99, 112, 126);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    width: 100px;
}

.main {
    font-family: 'Alata', sans-serif;
}

.new-posting h1 {
    color: #47525E;
    text-align: left;
}

.buttonareaposting {
  display: inline-block;
  margin-right:25%;
  margin-top: 5%;
  float:right;
}

.custom-file-upload {
  font-family: 'Alata', sans-serif;
	color:white;
  padding-left: 5px;
  background-color: rgb(82, 111, 207);
	padding-right:5px;
  padding-top:5px;
  border-radius: 10px;
  padding-bottom:5px;
  outline:none;
	border: 3px solid rgb(99, 112, 126);
}

#file-input-posting {
  display:none;
}

.custom-file-upload:hover {
	transform: scale(1.05);
	opacity: 0.9;
	-webkit-transition: transform 0.4s ease-in-out;
}

.custom-file-upload:hover #buttoniconimg{
	transform: rotate(90deg);
	-webkit-transition: transform 0.4s ease-in-out;
}

.custom-file-upload:active {
	transform: scale(0.98);
	opacity:0.85;
	-webkit-transition: transform 0.2s ease-in-out;
}

.imageareaposting {
  display: inline-block;
  margin-left: 20%;
  float:left;
}

label {
    padding-top: 5px;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 130%;
    color:#2a2d3de1;
}

.new-posting {
    position: absolute;
    right: 50px;
    top: 20px;
    width: calc(100vw - 400px);
    min-height: 300px;
    min-width: 400px;
    text-align: center;
}

.posting-details {
    margin-top: 15px;
    overflow: auto;
    transition: color 0.3s ;
    &:hover {
      color: #666666FF ;
      };
    
    position: relative;
    border: 3px solid rgb(59, 82, 105);
    border-radius: 15px;
    background-color: #8fc4c4;

    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

textarea {
    outline: none;
    border-radius: 10px !important;
}

label {
    padding: 10px;
}

input[type=range] {
    height: 47px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FFFFFF;
    border-radius: 11px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid #637076;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #6F82F0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FFFFFF;
    border-radius: 11px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid #637076;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #6F82F0;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 22px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 22px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid #637076;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #6F82F0;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FFFFFF;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
  }

.input {
    min-height: 25px;
    max-height: 100px;
    min-width: 300px;
    border-radius: 10px !important;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #939dd8e1;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    outline: none;
}

.categories-bars {
	display: inline-flex;
	flex-flow: row wrap;
    margin: 0px;
    width:80%;
    margin-left:7vw;
    margin-right:auto;
	justify-content: left;
}

.categories-bars >div {
    height: 200px;
    padding: 0;
    width: 200px;
    margin: 17px;
}

.categories-bars >div >h1 {
    color: #fff;
}

.button-container {
    width: 100%;
}

.summary {
    min-height: 100px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid #939dd8e1;
    padding: 10px 15px;
}

#afterthought {
    margin-top:10vw;
    display: none;
    position: absolute;
    top: 700px;
    left: 0px;
    right: 0px;
}

@keyframes upload {
    0%      {}
    50%     {transform: scale(0.3);}
    100.0%  {transform: translateY(-200vw);}
 }

 @keyframes fade-in {
    0%      {opacity: 0%;}
    49%     {opacity: 0%; transform:translateY(0vh);}
    50%     {opacity: 0%; transform:translateY(-50vh);}
    100.0%  {opacity: 100%; transform:translateY(-70vh);}
 }

.create-button {
    font-family: 'Alata', sans-serif;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
	background-color: #808abee1;
    border: none;
	width: 200px;
	min-height: 40px;
    font-size: 130%;
    color:#fff;
}

.create-button #buttoniconimg {
    margin-top:3px;
	width:12%;
}
