.contact-list {
    position: absolute;
    width: 250px;
    max-height: calc(100vh - 45px);
    float: left;
    left: 0;
    top: 0;
    margin: 10px;
}

.contacts-title {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    text-align: left;
    margin: 10px;

}

.contact {
    font-family: 'Alata', sans-serif;
	background-color: #3e838f;
	width:200px;
	color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
	border-radius:15px;
}

.chat-space {
    margin-top: 10px;
    float: left;
    width: calc(100vw - 650px);
    min-width: 300px;
    height: calc(100vh - 150px);
    outline: 1px solid #ccc;
}

.selected-contact {
    font-family: 'Alata', sans-serif;
	color: #6d75a3;
    margin-top: 10px;
    font-size: 40px;
}

.text-message {
    font-family: 'Alata', sans-serif;
    margin-top: 20px;
    padding: 10px 5px;
    font-size: 12px;
    max-width: 200px;
    text-align: left;
    border: 1px solid #ccc;
	border-radius: 15px;
    box-sizing: border-box;
}

.me {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.other {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    background-clip: border-box;
    border: none;
}

.other > div {
    background: #6d75a3;
    color: white;
}