@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.body {
	color:white;
}

#logintab {
	font-family: 'Alata', sans-serif;
	background-color: #6d75a3;
	font-size:large;
	margin-top:-3px;
	color:white;
	border-bottom-left-radius:15px;
	padding-left: 25px;
	padding-right:25px;
	padding-top:5px;
	padding-bottom:5px;
	outline:none;
	border: 3px solid #959fda;
}

#logintab:hover {
	transform: scale(1.03);
	background-color: #727aaa;
	-webkit-transition: transform 0.4s ease-in-out;
}

#logintab:active {
	transform: scale(0.98);
	background-color: #7e87bde1;
	-webkit-transition: transform 0.2s ease-in-out;
}

#registerinfo {
	display: none;
	background-color: #438c99;
	border: 3px solid #50a7b6;
}

#registertab {
	font-family: 'Alata', sans-serif;
	font-size:large;
	margin-top:-3px;
	background-color: #4795a3;
	color:white;
	border-bottom-right-radius:15px;
	padding-left: 20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	outline:none;
	border: 3px solid #53adbd;
}

#registertab:hover {
	transform: scale(1.03);
	background-color: #437983;
	-webkit-transition: transform 0.4s ease-in-out;
}

#registertab:active {
	transform: scale(0.98);
	background-color: #4897a5;
	-webkit-transition: transform 0.2s ease-in-out;
}

.accessbox {
	font-family: 'Alata', sans-serif;
	width:40vw;
	background-color: #6d75a3;
	color:white;
	border-radius:15px;

	border: 3px solid #959fda;
}

.italize {
	color:white;
	font-family: 'Alata', sans-serif;
}

.tiny {
	font-size: small;
	font-weight: lighter;
	font-family: 'Alata', sans-serif;
	color:white;
	padding-left: 25px;
	padding-right:25px;
}

.header {
	font-style: normal;
	font-weight: bold;
	font-size: large;
	padding-top:200px;
	padding-bottom:2px;
	font-family: 'Alata', sans-serif;
	color:white;
	border-bottom: 3px solid rgb(217, 217, 217);
}

.loginbutton {
	font-family: 'Alata', sans-serif;
	color:white;
	padding-left: 20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	outline:none;
	border-radius:15px;
	background-color: #4897a5;
	border: 3px solid #3f838f;

}

.loginbutton:hover {
	transform: scale(1.12);
	background-color: #2f575e;
	-webkit-transition: transform 0.4s ease-in-out;
}

.loginbutton:active {
	transform: scale(0.98);
	background-color: #46808a;
	border: 3px solid #53adbd;
	-webkit-transition: transform 0.2s ease-in-out;
}

.inputtext {
	font-family: 'Alata', sans-serif;
	background-color: rgba(217, 217, 217, 0.6);
	color:#2a2d3de1;
	padding-left: 20px;
	padding-right:20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top:5px;
	padding-bottom:5px;
	outline:none;
	border-radius:15px;
	border: 2px solid #939dd8e1;
}

#registerbutton {
	border: 2px solid #939dd8e1;
	background-color: #959fda;
}

#registerbutton:hover {
	background-color: #7f88bbe1;
}

#registerbutton:active {
	background-color: #7e87bde1;
}

.incorrect{
	color: darkred;
	font-family: 'Alata', sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 10px;
	display: none;
}
