@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.innerpoststyle {
	font-family: 'Alata', sans-serif;
	font-size: 100%;
	color:white;
	background-color: #009999;
	border-radius:15px;
	padding-left: 5px;
	overflow: scroll;
	display: inline-block;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	margin-left: 10px;
	width:35%;
	height:490px;
	outline:none;
	border: 3px solid #005e5e;
}

#innerpoststyleheader {
	margin-left: 10px;
	outline:none;
	color:rgba(255, 255, 255, 0.74);
}

#innerpoststyleheadername {
	font-family: 'Alata', sans-serif;
	font-size: 130%;
	display: inline-block;
	color:white;
}

#innerpoststylelistingtitle {
	font-family: 'Alata', sans-serif;
	font-size: 150%;
	margin-left:10px;
	margin-right: 10px;
	color:white;
}

#innerpoststylestrprice {
	font-family: 'Alata', sans-serif;
	font-size: 100%;
	font-weight: bold;
	margin-left:10px;
	margin-right: 10px;
	color:white;
}

#innerpoststyledescription {
	color:rgba(9, 27, 26, 0.88);
	font-family: 'Alata', sans-serif;
	font-size: 120%;
	margin-left:10px;
	margin-right: 10px;	
	display: none;
}

#innerpoststylepicture {
	object-fit: cover;
	max-width:150px;
}

.innerpoststyle:hover {
	transform: scale(1.02);
	opacity: 0.985;
	-webkit-transition: transform 0.2s ease-in-out;
}

.contactskilltrader{
	background-color: #014646;
	border: 3px solid #002929 !important;
}

.contactskilltrader2{
	background-color: #0b6161;
	border: 3px solid #004242 !important;
}

@keyframes small-to-big {
    0%     {width:35%; height:500px;}
    100.0%  {width:47%; height:900px; background-color: #016f91;}
 }

 @keyframes big-to-small {
    0%     {width:47%; height:900px;background-color: #016f91;}
    100.0%  {width:35%; height:500px; background-color: #009999;}
 }