@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.main {
    font-family: 'Alata', sans-serif;
}

.new-posting h1 {
    color: #47525E;
    text-align: left;
}

label {
    padding-top: 5px;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 130%;
    color:#2a2d3de1;
}

.new-posting {
    position: absolute;
    right: 50px;
    top: 20px;
    width: calc(100vw - 400px);
    min-height: 300px;
    min-width: 400px;
    text-align: center;
}

.posting-details {
    margin-top: 15px;
    overflow: auto;
    transition: color 0.3s ;
    &:hover {
      color: #666666FF ;
      };
    height: calc(100vh - 130px);
    min-height: 300px;
    position: relative;
    border: 3px solid rgb(59, 82, 105);
    border-radius: 15px;
    background-color: #8fc4c4;

    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    padding: 10px;
}

input {
    min-height: 25px;
    max-height: 100px;
    min-width: 300px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #939dd8e1;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

.categories-bars {
	display: inline-flex;
	flex-flow: row wrap;
	margin: 0px;
	justify-content: left;
}

.categories-bars >div {
    height: 50px;
    padding: 0;
    width: 150px;
    margin: 17px;
}

.categories-bars >div >h1 {
    color: #fff;
}

.button-container {
    width: 100%;
}

.summary {
    min-height: 100px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid #939dd8e1;
    padding: 10px 15px;
}

.MuiSlider-rail {
    width: calc(100vw - 500px);
}

.create-button {
    font-family: 'Alata', sans-serif;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
	background-color: #3e838f;
    border: none;
	width: 200px;
	min-height: 40px;
    font-size: 130%;
    color:#fff;
}

