@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    background:#fff
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.sidebar-main {
    background-color: #008080;
    width: 200px;
    height: calc(100vh - 5px);
    position: fixed;
    left: 0px;
}

.messages-main {
    margin-left: 300px;
}

.messages-main > div {
    display: inline-block;
    position: relative;
}

.send-message{
    display: inline-flex;
    min-width: 300px;
    padding-right: 30px;
    margin-left: 275px;
}

.send-button {
    font-family: 'Alata', sans-serif;
    height: 30px;
    margin-top: 15px;
    margin-left: 0;
    border: none;
    width: 70px;
}

.say-something{
    font-family: 'Alata', sans-serif;
    background-color: #e6e0e0;
    border: none;
    padding: 5px;
    margin-top: 15px;
    display: block;
	width: calc(100vw - 750px);
	min-width: 220px;
}