body {
    background:#fff
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.main > div {
    display: inline-block;
}

.sidebar-main {
    background-color: #008080;
    width: 200px;
    height: calc(100vh - 5px);
    position: fixed;
    left: 0px;
}

.messages-main {
    position: absolute;
    right: 0px;
    top: 0px;
	height: calc(100vh - 15px);
	min-width: 400px;
	width: calc(100vw - 360px);
	text-align: left;
}

.messages-main > div {
    display: inline-block;
    position: relative;
}

.send-message{
    display: inline-flex;
    min-width: 300px;
    float: right;
    padding-right: 30px;
}

.send-button {
    height: 30px;
    margin-top: 15px;
    margin-left: 0;
    border: none;
    width: 70px;
}

.say-something{
    background-color: #e6e0e0;
    border: none;
    padding: 5px;
    margin-top: 15px;
    display: block;
	width: calc(100vw - 750px);
	min-width: 220px;
}