@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Alata", sans-serif;
	color: #47525E;
}

h1 {
	font-size: 50px;
	color: #008080;
}

h2 {
	font-size: 32px;
	color: #64E1E1;
}

p {
	font-size: 16px;
}

.dark-aqua {
	color: #008080;
}

.light-aqua {
	color: #64E1E1;
}